Source: bout++
Maintainer: Ben Dudson <benjamin.dudson@york.ac.uk>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: bout++
Architecture: amd64
Depends: libopenmpi-dev, openmpi-bin, libfftw3-dev, libnetcdf-c++4-dev, ${shlibs:Depends}, ${misc:Depends}
Description: simulation framework in curvilinear coordinates
Provides finite difference methods for solving an arbitrary number
of partial differential equations in 1D, 2D or 3D. The main
application is to solving fluid-like equations in plasma physics.


